.btn {
    display: flex;
    align-items: center;
    padding: 8px 0 8px 15px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        cursor: pointer;
    }
}

.more {
    display: flex;
    align-items: center;
}

.less {
    display: none;
    align-items: center;
}

.more-icon {
    color: #e4e6eb;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    background-color: #2e2f31;
    border-radius: 50%;
    padding: 12px;
    margin-right: 12px;
}

.more-btn {
    color: #e4e6eb;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.less-icon {
    color: #e4e6eb;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    background-color: #2e2f31;
    border-radius: 50%;
    padding: 12px;
    margin-right: 12px;
}

.less-btn {
    color: #e4e6eb;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}
