.popper {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 650px;
    min-height: 30px;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    color: rgb(42, 37, 37);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}
